@model IEnumerable<Applicant>
@{
    int index = 0;
}

<a class="btn btn-info btn-sm float-right" asp-action="Logout">Logout</a>
<h1>Dashboard</h1>
<p>
    Welcome to admin dashboard.
</p>
<div class="table-responsive">
<table class="table">
    <tr class="thead-dark">
        <th width="5%">S.No</th>
            <th width="30%">Full Name</th>
            <th width="20%">Phone</th>
            <th width="22%">Email</th>
            <th width="20%">Type</th>
            <th width="10%">Action</th>
    </tr>
    @foreach (var item in Model)
        {
            <tr>
                <td>@{index++;} </td>
                <td>@item.FullName</td>
        <td>@item.Phone</td>
        <td>@item.Email</td>
        <td>@item.PerformanceType</td>
        <td>
            <a
               id="check_payment_status"
                   data-assigned-id=@item.TransactionId>
                        <span class="material-symbols-outlined">
                            credit_score
                        </span>
               
            </a>
        </td>
    </tr>
    }
</table>
</div>


<!-- Modal -->
<div class="modal fade" id="paymentStatusModal" tabindex="-1" role="dialog" aria-labelledby="StatusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="StatusModalLabel">Payment Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="partialViewContent">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           </div>
        </div>
    </div>
</div>