@{
    ViewData["Title"] = "Payment Failed";
}

<header class="mb-5">
    <h1>@ViewData["Title"]</h1>
    <p>
        Sorry, we cannot register you because payment is failed. Please try again.
        <a asp-action="Index">Try Again.</a>
    </p>
</header>