@{
    ViewData["Title"] = "Payment Successful";
}

<header class="mb-5">
    <h1>@ViewData["Title"]</h1>
    <p>
        We will contact you soon if you are selected. Please stay tuned.
    </p>
</header>