/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

body {
    background: url(../images/gradient-bg-1.png) fixed center no-repeat;
    background-size: 100% 100%;
    font-family: 'Inter Tight', sans-serif;
    font-weight: lighter;
    color: #777;
}

img {
    max-width: 100%;
}
a{
    cursor: pointer;
    
}
h1 {
    font-weight: bold;
}

h2, h3, h4, h5 {
    font-weight: normal;
    color: #222;
}
table{
    font-size: 14px;
    border: 1px solid #eee;
}

.form-signin {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    width: 600px;
    margin: 40px auto;
    padding: 40px;
    border: none;
}

.form-signin-header img {
    width: 200px;
}
.hideForm.hideForm {
    display: none;
}

.form-check-label {
    cursor: pointer;
}
.btn-logout{
    position: absolute;
    right: 20px;
    top: 20px; 
}
.material-symbols-outlined {
    position: relative;
    top: 5px;
    font-size: 20px;
}

.content-card {
    box-shadow: 0 0 31px rgba(0,0,0,0.3);
    margin: 40px;
}

.invalid-feedback {
    display: block;
}

.content-entry {
    padding: 40px 40px 40px 14px;
}

header {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

span.text-danger {
    font-size: 14px;
}

.payment-logo {
    position: absolute;
    left: 0;
    top: 50%;
    width: 120px;
    margin-top: -21px;
}

.btn.btn-mypay {
    background-color: #e45415;
    border-color: #e45415;
}

.btn.btn-mypay:disabled {
    background-color: #e99977;
    border-color: #e45415;
}

.footer{
    color: #333;
}

@media only screen and (max-width: 950px) {
    .content-card {
        margin: 40px 0;
        padding: 10px 40px;
    }
    .content-image{
        display: none;
    }
}

@media only screen and (max-width: 750px) {
   
}

/* Admin Styles */
.admin-content{
    padding: 40px;
}
#check_payment_status span{
    font-size: 25px;
    top: 0;
}
#check_payment_status:hover{
    color: #0366d6;
}